Repository Krugou/url: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

fix: add .npmrc with legacy-peer-deps for React 19 CI compatibility
  .npmrc
Due: none

feat: setup E2E tests and polish UI
  e2e/home.spec.ts
  package-lock.json
  package.json
  playwright-output.txt
  playwright-report/data/128ce19022a9b4ef6642bcee4529f38953b08fe5.md
  playwright-report/index.html
  playwright.config.ts
  src/App.tsx
  src/pages/Home.tsx
  test-results/.last-run.json
  test-results/home-NeoLink-Home-can-switch-language-to-Finnish-chromium/error-context.md
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

fix(ci): add playwright files to tsconfig.node.json for eslint
  tsconfig.node.json
Due: prettier --write

feat: enhance Neo-Brutalist UI and layout width
  eslint-output.txt
  package.json
  src/App.tsx
  src/components/UrlForm.tsx
  src/components/privacy/CookieBanner.tsx
  src/components/ui/NeoButton.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

perf: optimize build via manual chunking and lazy loading
  src/App.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

feat: enhance visual hierarchy and layout balance
  src/App.tsx
  src/components/UrlForm.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

chore: update eslint-plugin-react-refresh and jsdom dependencies
  package-lock.json
  package.json
Due: prettier --write

Modify Dependabot configuration for daily updates
  .github/dependabot.yml
Due: none

Add killnode.bat utility
  killnode.bat
Due: none

style: modernize UI design from Neo-Brutalism to sleek and premium
  .github/CODEOWNERS
  index.html
  src/App.tsx
  src/components/LanguageSwitcher.tsx
  src/components/NeoToast.tsx
  src/components/UrlForm.tsx
  src/components/privacy/CookieBanner.tsx
  src/components/ui/NeoButton.tsx
  src/components/ui/NeoCard.tsx
  src/components/ui/NeoInput.tsx
  src/index.css
  src/pages/Home.tsx
  src/pages/Privacy.tsx
  src/pages/Redirect.tsx
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

fix(lint): isolate React lint rules to src/ directory to prevent spec file error under ESLint 10
  eslint.config.js
Due: none

build(lint): migrate linter toolchain from ESLint to Oxlint
  .github/workflows/deploy.yml
  .lintstagedrc
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,css,md})
  eslint --fix: any of: *.{ts,tsx}
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
